.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# some miscellaneous files in the iteration folders

/NeverEatAlone/Iteration_Documentation/Iteration_2/Class_Diagram.txt
/NeverEatAlone/Iteration_Documentation/Iteration_2/Class_Glossary
/NeverEatAlone/Iteration_Documentation/Iteration_1/Implementation Oriented Model.uxf
/NeverEatAlone/Iteration_Documentation/Iteration_1/NEW_FEATURE_LIST.txt