<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.jhu.cs.oose.fall2014.group19.neverEatAlone.client.gui.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="your tests label"
        android:targetPackage="edu.jhu.cs.oose.fall2014.group19.neverEatAlone.client" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".services.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.RegisterActivity"
            android:label="@string/title_activity_register"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.TabHostActivity"
            android:label="@string/title_activity_tab_host"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.InvitesActivity"
            android:label="@string/title_activity_invites"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.CreateMealInformationActivity"
            android:label="@string/title_activity_create_meal_information"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.MealDetailActivity"
            android:label="@string/title_activity_meal_detail"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.TweetDetailActivity"
            android:label="@string/title_activity_tweet_detail"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.AddFriendsActivity"
            android:label="@string/title_activity_add_friends"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.SelectFriendsActivity"
            android:label="@string/title_activity_select_friends"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.PostInformationActivity"
            android:label="@string/title_activity_post_information"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.DisplayContactNotificationActivity"
            android:label="@string/title_activity_display_contact_notification"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.MyPostsActivity"
            android:label="@string/title_activity_my_posts"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.ContactsProfileActivity"
            android:label="@string/title_activity_contacts_profile"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.AcceptedInvitesActivity"
            android:label="@string/title_activity_accepted_invites"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.MyPostsDetailActivity"
            android:label="@string/title_activity_my_posts_detail"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.ContactTabbedActivity"
            android:label="@string/title_activity_contact_tabbed"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".services.SelectFriendsFragmentActivity"
            android:label="@string/title_activity_select_friends_fragment" >
        </activity>
    </application>

</manifest>